.bgcolor {
    background-color:#222222;
}

#title {
    font-size: 1.2rem;
    font-weight:500;
    color:white;
}

#navItems {
    margin-top:5px;
    margin-bottom:5px;
}
.navItem {
    margin-left:20px;
    font-size: 1em;
    font-weight:bold;
    color:white;
    cursor: pointer;
}

#addQuestionContainer {
    border: black solid 1px;
}