#quizContainer{
    padding:10px;
    width:100%;
    border:1px solid black;
    min-height:80vh;
}

#buttonSubmit {
    padding:10px;
    text-align:right;
}

.submitButt {
    width:40%;
}

.wrong{
    color:red;
    font-weight:500;
}

.correct {
    color:green;
    font-weight:500;
}
#error {
    color:red;
    text-align: center;
}

.noQuiz {
    text-align: center;
    color:blue;
}

.difficultyDiv {
    margin-top:30vh;
    text-align:center;
}

.btnmargin {
    margin-left:20px;
}

.bigbutton {
    height:5em;
    width:40%;
}